In [291]:
import numpy as np

import pandas as pd
import uuid

import matplotlib.pyplot as plt
import matplotlib.animation as animation
from IPython.display import HTML

In [677]:
class ptype:
    """basic particle type, with name and physical properties
    it also has a list of unimolecular reactions A -> products
    """
    def __init__(self,diffusion, name):
        self.diffusion=diffusion
        self.name=name
        self.unimolecular_reactions = []
        self.unimolecular_probs = []
        
    def add_reaction(self,reaction):
        """adds a unimolecular_reaction to the list for this particle type
        and updates the probabilities function"""
        (self.unimolecular_reactions).append(reaction)
        rates = np.array([rea.rate for rea in self.unimolecular_reactions])
        self.unimolecular_probs = rates
        
    def choose_reaction(self,dt):
        """chooses one reaction (or none) for a given time step
        that reaction can then be effected on a particle with effect_reaction
        """
        if len(self.unimolecular_probs)==0:
            return None
        else:
            rates = self.unimolecular_probs
            probs = (rates/rates.sum())*(1 - np.exp( - dt* rates.sum()))
            #print("Cumulative probs: ",np.cumsum(probs))
            alpha=np.random.uniform(size=1)
            conf = np.cumsum(probs)>alpha
            if any(conf):
                ii = np.argmax(conf)
                print("Chosen rection %s" % self.unimolecular_reactions[ii].name)
                return self.unimolecular_reactions[ii]
            else:
                return None
        
class particle:
    """particle instance, it has an id, position, age, types, etc."""
    def __init__(self, ptype, pos, age = 0, id = None ):
        if id==None:
            self.id = uuid.uuid4()
        else:
            self.id = id
        self.ptype = ptype
        self.age = age
        self.pos = pos
        
    def step(self,dt):
        pos1 = self.pos + np.sqrt(2*self.ptype.diffusion*dt)*np.random.normal(0, 1, 2)
        #print("type %s, age %d"% (self.ptype.name, self.age))
        pnew = particle(self.ptype, pos1, age = self.age + 1, id = self.id)
        return pnew

        
class traj:
    """a traj is a list of lists of particles"""
    
    def __init__(self, particles):
        self.ptraj = []
        self.nframes = 0
        (self.ptraj).append(particles)
        
    def step(self,dt):
        newvals=[]
        for pa in (self.ptraj)[self.nframes]:
            pa1 = pa.step(dt)
            newvals.append(pa1)
        (self.ptraj).append(newvals)
        self.nframes = (self.nframes)+1

    def react_unimolecular(self, dt):
        """loops over particles and reacts them with their unimolecular reactions
         unimolecular reactions are associated to the incoming pair
        """
        newvals=[]
        for pa in (self.ptraj)[self.nframes]:
            react = pa.ptype.choose_reaction(dt)
            if(not react==None):
                pa1 = react.effect_reaction(pa)
                if not pa1==None:
                    for pa11 in pa1:
                        newvals.append(pa11)
            else:
                newvals.append(pa)
        
        (self.ptraj)[self.nframes] = newvals
        
    def react_bimolecular(self,dt):
        """ bimolecular reactions
        
        """

In [293]:
def plt_traj(traj):
    """plots a trajectory"""
    ptraj = (traj.ptraj)
    fig = plt.figure()
    ax = plt.axes(xlim=(-4, 4), ylim=(-4, 4))
    line, = ax.plot([], [], marker='o', lw=2)
        
    def init():
        line.set_data([], [])
        return line,
        
    def animate(i):
        x = [p.pos[0] for p in ptraj[i]]
        y = [p.pos[1] for p in ptraj[i]]
        line.set_data(x, y)
        return line, 

    anim = animation.FuncAnimation(fig, animate, init_func=init,
                               frames=traj.nframes, interval=20, blit=True)
    return anim

In [660]:
def reshape(traj):
    """converts a frame-based trajectory into a id-based data-frame
    for lifetimes and concentrations
    
    """
    pp=[]
    for i,frame in enumerate(traj.ptraj):
        for part in frame:
            pp.append([part.id,part.age,part.pos[0],part.pos[1],i,part.ptype.name])
    gg = pd.DataFrame(pp,columns=['ID','age','x','y','frame','type_name'])
    return gg

In [633]:
class reaction:
    def __init__(self,name,rate):
        self.rate = rate
        self.name = name
        #print(self)

### ============== UNI_MOLECULAR REACTIONS ===============================
        
class decay_reaction(reaction):
    """ unimolecular decay with given rate"""
    def __init__(self, name, rate):
        super(decay_reaction,self).__init__(name,rate)
        
    def effect_reaction(self,particle_in):
        return None
    
class convert_reaction(reaction):
    """ unimolecular conversion with given rate to given type """
    def __init__(self,  name, rate , outtype):
        self.outtype=outtype
        super(convert_reaction,self).__init__( name, rate)
        
    def effect_reaction(self,particle_in):
        ## return a singleton list for consistence with other reactions
        return [particle(self.outtype, particle_in.pos )]

class fission_reaction(reaction):
    """ unimolecular fission with given rate to given type """
    def __init__(self,  name, rate, outtype1, outtype2):
        self.outtype1=outtype1
        self.outtype2=outtype2
        super(fission_reaction,self).__init__( name, rate)
        
    def effect_reaction(self,particle_in):
        pos = particle_in.pos
        return [particle(self.outtype1, pos) ,particle(self.outtype2, pos ) ]

In [ ]:
p1 = ptype(1.0e-2,"type 1")
r1 = decay_reaction("dec1",1e-5)
r2 = fission_reaction('fission1',1e-4, p1,p2)
p1.add_reaction(fission_reaction("reac1",1e3, p1,p2))
p1.add_reaction(fission_reaction("reac3",1e3, p1,p2))
p1.add_reaction(fission_reaction("reac2",1e3, p1,p2))

r=p1.choose_reaction(0.0002)
if not r==None:
    print(r.name)
    
news = r.effect_reaction(init_pos[0])
news

alpha=np.random.uniform(size=1)
alpha

ppppp =np.cumsum(rrr/rrr.sum()*(1-np.exp(-0.00002*rrr.sum())))
ppppp

In [724]:
class encunter_complex:
    def __init__(self, name):
        self.name=name
        
class bim_encunter_complex(encunter_complex):
    def __init__(self, name, typ1,typ2, dist):
        self.encunter_complex=encunter_complex
        self.type1 = typ1
        self.type2 = typ2
        self.dist= dist
        super(bim_encunter_complex,self).__init__(name)

    def get_ec(self,particles_):
        p1 = [i for i,p in enumerate(particles_) if p.ptype==self.type1]
        p2 = [i for i,p in enumerate(particles_) if p.ptype==self.type2]
        ec=[]
        #print(p1)
        #print(p2)
        for q1 in p1:
            for q2 in p2:
                if not q1 == q2:
                    vec1= particles_[q1].pos - particles_[q2].pos
                    #print(vec1)
                    dist1= np.sqrt((vec1 * vec1).sum())
                    if dist1 < self.dist:
                        ec.append([q1,q2])
        return ec

In [739]:
b1=bim_encunter_complex("bim1",p1,p3,.9)

In [742]:
b1.get_ec(t.ptraj[100])

[[1, 0]]

In [ ]:
class fusion_reaction(reaction):
    """ fusion reaction"""
    def __init__(self, name, rate, encounter_complex, outtpye):
        self.encunter_complex=encunter_complex
        self.outtype = outtpye
        super(fusion_reaction,self).__init__(name,rate)
        
    def effect_reaction(self,encunter_complex_in):
        return None

### Run

In [668]:

## create particle types and their unimolecular reactions
p1 = ptype(1.0e-2,"type 1")
p2 = ptype(5.0e-1,"type 2")
p3 = ptype(1.0e-2,"type 1b")
p2.add_reaction( decay_reaction("dec1",1.1) )
p1.add_reaction( convert_reaction("con1",.1, p3) )




init_pos = [
    particle(p1, np.array([0,i]),age=0) for i in range(10)] + [
    particle(p2, np.array([i,0]),age=0) for i in range(10)] 
t = traj(init_pos)

In [669]:
for i in range(1000):
    t.step(.1)
    t.react_unimolecular(.1)

Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection con1
Chosen rection con1
Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection dec1
Chosen rection con1
Chosen rection con1
Chosen rection con1
Chosen rection con1
Chosen rection con1
Chosen rection con1
Chosen rection con1
Chosen rection con1

In [678]:
t.ptraj[10]

[<__main__.particle at 0x7f8388855400>,
 <__main__.particle at 0x7f8388855278>,
 <__main__.particle at 0x7f83888554e0>,
 <__main__.particle at 0x7f83888550f0>,
 <__main__.particle at 0x7f8388855128>,
 <__main__.particle at 0x7f83888553c8>,
 <__main__.particle at 0x7f83888555f8>,
 <__main__.particle at 0x7f8388855198>,
 <__main__.particle at 0x7f8388855438>,
 <__main__.particle at 0x7f8388855390>,
 <__main__.particle at 0x7f8388855240>,
 <__main__.particle at 0x7f83888552e8>,
 <__main__.particle at 0x7f8388855630>,
 <__main__.particle at 0x7f8388855588>]

In [241]:
aa = plt_traj(t)
#HTML(aa.to_html5_video())

In [670]:
tr=reshape(t)
pp=tr.groupby(by='ID')
pp.agg({'age':'max', 'type_name':'unique'})

                                      type_name  age
ID
001a548c-b86f-4b13-b57d-86258e17427a   [type 1]   46
06cc09fa-04ac-4b37-a0a0-567034a2d3a3  [type 1b]  920
263fc5ab-4704-448c-873c-563bdf2a76ff   [type 1]   66
37cb835d-8b74-4de8-a9ef-0358ca5764fd   [type 2]   13
3e98d294-3d83-4557-a47f-22dd12fcfe70  [type 1b]  994
440705f6-6fa8-4aee-8f33-6e1916c6cf30  [type 1b]  933
4409f274-c2d9-4fb3-8493-ac86793aa727  [type 1b]  950
524789ae-2860-447c-a8fd-f429f201b994   [type 2]    8
55ca40bb-90cb-4fb6-a492-817bc75da443  [type 1b]  953
55dba9f2-5099-4174-bb20-4e9eb8712965   [type 2]    0
56dc2630-7c8a-45f0-82b1-f66bc3a8d58e   [type 1]   79
5880716b-a043-4ad6-a26e-73a97e2db342  [type 1b]  807
60b7c087-2628-403a-ae09-0c91c9510b82   [type 2]    0
6af76fbc-d0fe-4d25-8b37-d5f88ac0b6c5   [type 1]  151
6f572d27-7d4d-48a0-a0fb-acb80e7cc149  [type 1b]  970
81b18b72-3a6f-44df-9bee-dd365024f50b  [type 1b]  848
835e4d99-f8b1-45d8-b55e-a52307339d40   [type 2]    1
84620aa5-fb6b-4f2d-9406-892043f06c46   [type 1]    7
9290b647-2fd8-4043-8d2a-14aefb75ad35   [type 2]   16
934d58b5-3285-4775-8141-675ded792baa   [type 1]  161
9a9f05fa-1c04-4220-ab8c-74447ddc3481   [type 1]    5
9b813684-6b19-492e-b689-e930efa79da9   [type 2]    7
af3b1f4b-a508-4fa9-9cb8-c7db5c3d73c6  [type 1b]  992
b5d913ff-0030-4608-93ec-85542e71ca62   [type 2]   21
bbda70f2-d47b-4079-9d64-233987d666cf   [type 2]   18
be0512bd-954e-47db-9cd7-dd6e7fe9f538   [type 1]   49
dabbb6be-dc6d-496f-8934-49ccef01ace7   [type 1]   29
dcdc8b6d-af4e-4996-949c-1ab3279875ea  [type 1b]  838
df66289b-1ee2-4582-abe0-5bdd613e10d1   [type 2]    0
df780244-a66f-4e5e-86b1-c1774225da63   [type 1]  192

In [645]:
lifes = pp.agg({'age':'max', 'type_name':'unique'})
yy = lifes.groupby('type_name')
#for ky, val in yy:
#    print(val)
yy

In [654]:
lifes

                                      type_name  age
ID
08e9616f-7a76-4356-8b68-3d8b4805c46f   [type 1]   72
12acc033-cd43-4968-8fd7-9d66981fd89f   [type 1]   14
1c5aa45f-1d71-4ef0-abf6-a5309fb887e4   [type 1]  108
2c2922f0-436d-44c2-b7f0-efffe63f069a   [type 2]    2
300b6afb-8ed5-45ed-8b86-bcc55e9ac3c0   [type 2]    2
353c3abc-a155-4cc5-b465-8b1986f3b8a0   [type 2]    7
4b5af5c9-cc49-4501-82f3-806105d05498   [type 1]   72
5b6a478a-1f1c-4698-9e3d-b41c87b9f510  [type 1b]  938
65918629-bf1c-48a5-bf63-097794abcc61   [type 2]    2
6f4f3de1-c6b8-4f5a-a231-23936f482f1f   [type 1]   51
7a32cfcf-c3de-47da-83f8-0355c5e82fe5  [type 1b]  891
7c137037-1e6a-41e9-a4ac-0373fbd55177   [type 1]   81
7d0ed2ae-c56c-4f08-acdd-eca44f1edb6e   [type 2]    7
80d7433e-7db7-4fa0-b0f0-1c32fd6ce4ab  [type 1b]  918
81c12805-702c-4bf0-b856-afd3ce02e3a2  [type 1b]  870
87621e64-ade5-4d10-9426-a696b87abaca   [type 1]   61
8a977f6a-0db4-43b7-832b-8228828f341f  [type 1b]  919
8c9ba4c8-7eed-4512-8ca6-94f752b90f47  [type 1b]  927
8f565fe2-6bbf-4c67-beca-4681910c1a36  [type 1b]  927
9607b280-57b6-48c7-95a4-633da2b37b23   [type 2]    0
a346f223-ff05-4755-b428-442627e74dc5  [type 1b]  948
a86f51f8-a74e-4378-9050-41a3ea2173b2   [type 2]   26
b999dde0-3391-4779-b6aa-f3820c1df5a6   [type 1]   80
bc898a33-44b3-4623-9278-f5c208ca11fb  [type 1b]  985
c46ccdd3-bd48-4775-952d-7a5738db0792   [type 2]    4
c7d8c317-567c-49e4-a1d4-af5964d02f0e   [type 2]    3
d116fa0b-ab8b-4acc-922b-9da0056adf4f   [type 1]  129
d633da73-46c7-4832-8fa0-82be00843733   [type 2]    5
dfcd8699-9233-419d-9f0a-5cd3b454c706  [type 1b]  947
fc070445-cd64-4b03-921f-b85075267c12   [type 1]   52

In [676]:
pp2=tr.groupby(by=['frame','type_name'])
qq2=pp2.agg({'type_name':'count'})

In [675]:
qq2

                 type_name
frame type_name
0     type 1            10
      type 2            10
1     type 1            10
      type 2             7
2     type 1            10
      type 2             6
3     type 1            10
      type 2             6
4     type 1            10
      type 2             6
5     type 1            10
      type 2             6
6     type 1             9
      type 1b            1
      type 2             6
7     type 1             9
      type 1b            1
      type 2             6
8     type 1             8
      type 1b            2
      type 2             5
9     type 1             8
      type 1b            2
      type 2             4
10    type 1             8
      type 1b            2
      type 2             4
11    type 1             8
      type 1b            2
      type 2             4
...                    ...
971   type 1b           10
972   type 1b           10
973   type 1b           10
974   type 1b           10
975   type 1b           10
976   type 1b           10
977   type 1b           10
978   type 1b           10
979   type 1b           10
980   type 1b           10
981   type 1b           10
982   type 1b           10
983   type 1b           10
984   type 1b           10
985   type 1b           10
986   type 1b           10
987   type 1b           10
988   type 1b           10
989   type 1b           10
990   type 1b           10
991   type 1b           10
992   type 1b           10
993   type 1b           10
994   type 1b           10
995   type 1b           10
996   type 1b           10
997   type 1b           10
998   type 1b           10
999   type 1b           10
1000  type 1b           10

[1210 rows x 1 columns]